[mysql]
default-character-set=utf8
socket=/var/lib/myslq/mysql.sock

[mysqld]
skip-name-resolve
port=3306
socket=/var/lib/mysql/mysql.sock
basedir=/usr/local/mysql
datadir=/usr/local/mysql/data
log-error=/usr/local/mysql/mysql.err
pid-file=/usr/local/mysql/mysql.pid
max_connections=1000
character-set-server=utf8
default-storage-engine=INNODB
max_allowed_packet=16M
lower_case_table_names=1
group_concat_max_len=10240
